.game{
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.container{
  margin: 0;
  padding: 0;
}

header{
  margin-top: 25px;
}

.logo{
  width: auto;
  height: 60px;
  background-image: url(../img/Logo.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#game-table{
  background: #94b5c9;
  border: 10px solid #7094aa;
  width: 520px;
  height: 620px;
  margin: 0 auto;
}

#avatars-board{
  width: 100%;
  height: 100%;
}

#chances{
  text-align: center;
}

.people .front-people {
	width:80px;
	height:100px;
  margin:10px;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  box-shadow: 1px 0px 5px black;
}

.left-side-column, .right-side-column{
  display: flex;
  justify-content: center;
  align-content: baseline;
  flex-direction: column;
  text-align: center;
}

.caracteristic{
  height: 60px;
  width: 60px;
}

.item-content{
  margin-bottom: 30px;
  cursor: pointer;
}

.popup{
  position: fixed;
  z-index: 5;
  left: 50%; 
  top: 0;
  transform: translate(-50%,50%);
}

.pop{
  width: 700px;
  height: 400px;
  background-color: white;
  border: 10px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.popup-img{
  background-image: url(../img/Avatar_Popup.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
	width: 160px;
  height: 200px;
  margin-top: 10px;
}

.popup-img-new{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
	width: 160px;
  height: 184px;
  margin-top: 10px;
}

.caracteristic-clicked{
  opacity : 0.5;
  pointer-events: none;
}

.popup-welcome .popup-img{
  width: 100px;
  height: 100px;
}

.btn{
  width: 250px;
  height: 60px;
  border-radius: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.47px;
  font-size: 25px;
  color: white;
  text-align: center
}

.pop h2{
  margin-bottom: 25px;
}

.btn-popup-welcome{
  width: 150px;
  margin: 0 10px;
}

.btn:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-easy-lvl{
  background-color: rgb(116, 206, 191);   
}

.btn-medium-lvl{
  background-color: #A779BC; 
}

.btn-hard-lvl{
  background-color: rgb(163, 88, 88); 
}


.btn-popup-looser{
  background-color: #F95050;
}

.btn-popup-winer{
  background-color: #6ECDAE;
}

h2{
  font-family: Helvetica-bold, sans-serif;
  letter-spacing: 0.47px;
  font-size: 35px;
}

h5{
  font-weight: bolder;
}

.popup-welcome, .popup-looser, .popup-winer, .popup-secret-character{
  display: none;
}

.blocked{
  pointer-events: none;
}

.front-people:hover {
  transform: scale(2);
}

.levels{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.secret{
  background-image: url(../img/Avatar_Discovered.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width:80px;
	height:100px;
  margin:20px;
  position: fixed;
  float: left;
  box-shadow: 1px 0px 5px rgb(121, 121, 121);
  bottom: 0;
  right: 0;
}

.popup-bigscreen{
  display:none;
}

@media (max-width:1199px){

  .caracteristic{
    height: 55px;
    width: 55px;
  }

  #game-table{
    width: 490px;    
    height: 595px;
  }

  .people .front-people {
    width:84px;
    height:105px;
    margin:5px;
  }

  .haircolor-black{
    margin-top: 4px;
  }

  .hair-black{
    margin-top: 4px;
  }

}

/* ipad landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .popup{
    margin-top:10%;
  }
}

/* ipad landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .game{
    margin-top: 2%;
  }
}

/* ipad pro landscape */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) and (orientation: landscape) {
  .game{
    margin-top: 10%;
  }
  .popup{
    margin-top: 10%;
  }
}

/* ipad pro portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

  .game, .hidden-people-div, footer, .popup-looser, .popup-welcome, .popup-winer, .popup-secret-character{
    display: none;
  }

  .popup-bigscreen{
    display:block;
  } 
  
  .btn{
    display: none;
  }
  
  .popup{
    margin-top: 30%;
  }

}

@media (max-width:992px){

  .game, .hidden-people-div, footer, .popup-looser, .popup-welcome, .popup-winer, .popup-secret-character{
    display: none;
  }

  .popup-bigscreen{
    display:block;
  } 
  
  .btn{
    display: none;
  }
}

@media (max-width:775px){

  .pop{
    width: 600px;    
    padding: 30px;
  } 

  .popup{
    transform: translate(-50%,60%);
  }

}

@media (max-width:660px){

  .pop{
    width: 500px;    
    padding: 30px;
  } 

}

@media (max-width:560px){

  .pop{
    width: 320px;
    height: 500px;    
    padding: 30px;
    border: 8px solid black;
  } 

  h2{
    font-family: Helvetica-bold, sans-serif;
    letter-spacing: 0.47px;
    font-size: 25px;
  }

  .popup{
    transform: translate(-50%,30%);
  }

}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {

  .popup{
    margin-top:20%; 
  } 

}

@media (max-width:375px){

  .pop{
    width: 300px;
    height: 470px;    
    padding: 30px;
    border: 8px solid black;
  } 

}

@media (max-width:330px){

  .pop{
    width: 250px;
    height: 340px;    
    padding: 30px;
    border: 8px solid black;
  } 

}

/* 
@media (max-width:991px){

  .right-side-column{
    padding-right: 15%;
  }

  .left-side-column{
    padding-left: 15%;
  }

  .haircolor-black{
    margin-top: 0;
  }

}

@media (max-width:800px){

  .caracteristic{
    height: 50px;
    width: 50px;
  }

  .right-side-column{
    padding-right: 10%;
  }

  .left-side-column{
    padding-left: 10%;
  }

} */

/* @media (max-width:660px){

  .right-side-column{
    padding-right: 10%;
  }

  .left-side-column{
    padding-left: 10%;
  }

  .logo{
    width: auto;
    height: 45px;
  }

  .caracteristic{
    height: 35px;
    width: 35px;
  }

  .pop{
    width: 350px;
    height: 450px;
  }

  .btn{
    width: 150px;
    height: 40px;
    font-size: 15px;
  }

  .popup-img{
    width: 80px;
    height: 100px;
    margin-top: 5px;
  }

  h2{
    font-family: Helvetica-bold, sans-serif;
    letter-spacing: 0.47px;
    font-size: 25px;
  }

  h6{
    font-size: 15px;
  }

}

@media (max-width:575px){

  .right-side-column{
    padding-right: 5%;
  }

  .left-side-column{
    padding-left: 5%;
  }

} */
